/* ▄▀█ █▄ █ █ █▀▄▀█ ▄▀█ ▀█▀ █ █▀█ █▄ █ */
/* █▀█ █ ▀█ █ █ ▀ █ █▀█  █  █ █▄█ █ ▀█ */


@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}


/*  ██████╗  ██╗       ██████╗  ██████╗   █████╗  ██╗      */
/* ██╔════╝  ██║      ██╔═══██╗ ██╔══██╗ ██╔══██╗ ██║      */
/* ██║  ███╗ ██║      ██║   ██║ ██████╔╝ ███████║ ██║      */
/* ██║   ██║ ██║      ██║   ██║ ██╔══██╗ ██╔══██║ ██║      */
/* ╚██████╔╝ ███████╗ ╚██████╔╝ ██████╔╝ ██║  ██║ ███████╗ */
/*  ╚═════╝  ╚══════╝  ╚═════╝  ╚═════╝  ╚═╝  ╚═╝ ╚══════╝ */

* {
    z-index: 2;
}

a {
    text-decoration: none !important;
}

/* ███╗   ███╗  █████╗  ██╗ ███╗   ██╗ */
/* ████╗ ████║ ██╔══██╗ ██║ ████╗  ██║ */
/* ██╔████╔██║ ███████║ ██║ ██╔██╗ ██║ */
/* ██║╚██╔╝██║ ██╔══██║ ██║ ██║╚██╗██║ */
/* ██║ ╚═╝ ██║ ██║  ██║ ██║ ██║ ╚████║ */
/* ╚═╝     ╚═╝ ╚═╝  ╚═╝ ╚═╝ ╚═╝  ╚═══╝ */

:root {
    --first-height: auto;
}

/* █▀▀ ▄▀█ █▀█ █▀▄ */
/* █▄▄ █▀█ █▀▄ █▄▀ */

.card-container {
    width: 320px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(-45deg, rgba(131, 41, 248, 0.1) 0%, rgba(15, 151, 255, 0.1) 100%);
    -webkit-box-shadow: 10px 10px 0px 0px #289FED, 20px 20px 0px 0px #5FB8FF, 30px 30px 0px 0px #A1D8FF, 40px 40px 0px 0px #CAE6FF, 50px 50px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0.39);
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0.39);
    overflow: hidden;
    font-family: helveticas;
    z-index: 2;
    box-shadow: 0 0 15px var(--primer-color);
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
}

.card .front-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #8329f8 0%, #0f97ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

}

.card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 22px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #29a5f8 0%, #970fff 100%);
    color: #e8e8e8;
    padding: 15px;
    padding-left: 12px;
    padding-top: 0px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateX(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0px;

}


.card:hover .content {
    transform: translateY(0);
}

.card:hover .front-content {
    transform: translateX(-30%);
}

.card:hover .front-content p {
    opacity: 0;
}

.titlepf {
    position: absolute;
    top: -66px;
    left: 20px;
    color: #0b0b0b;
    background-color: #E1EEFF;
    border-radius: 20px 20px 0px 0px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 27px;
}


/* █▄▄ █▀█ █ █ ▀█▀ █▀█ █▄ █ */
/* █▄█ █▄█ █▄█  █  █▄█ █ ▀█ */

.ui-btn {
    --btn-default-bg: var(--background-color);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #21aafa;
    --default-btn-color: #fff;
    --font-size: 16px;
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;

}

.ui-btn {
    border-radius: 10px 10px 0 0;
    z-index: 10 !important;
    pointer-events: auto;
    box-sizing: border-box;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
}

.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}


/*  █████╗   ██████╗  ███████╗ ███╗   ██╗  ██████╗ ███████╗ ███╗   ███╗ ███████╗ ███╗   ██╗ ████████╗ */
/* ██╔══██╗ ██╔════╝  ██╔════╝ ████╗  ██║ ██╔════╝ ██╔════╝ ████╗ ████║ ██╔════╝ ████╗  ██║ ╚══██╔══╝ */
/* ███████║ ██║  ███╗ █████╗   ██╔██╗ ██║ ██║      █████╗   ██╔████╔██║ █████╗   ██╔██╗ ██║    ██║    */
/* ██╔══██║ ██║   ██║ ██╔══╝   ██║╚██╗██║ ██║      ██╔══╝   ██║╚██╔╝██║ ██╔══╝   ██║╚██╗██║    ██║    */
/* ██║  ██║ ╚██████╔╝ ███████╗ ██║ ╚████║ ╚██████╗ ███████╗ ██║ ╚═╝ ██║ ███████╗ ██║ ╚████║    ██║    */
/* ╚═╝  ╚═╝  ╚═════╝  ╚══════╝ ╚═╝  ╚═══╝  ╚═════╝ ╚══════╝ ╚═╝     ╚═╝ ╚══════╝ ╚═╝  ╚═══╝    ╚═╝    */

.wrapperpf2 {
    flex-wrap: wrap;
    gap: 3vw;
    padding: 40px;
    padding-left: 0;
    padding-right: 0;
    width: calc(100vw - 160px);
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgba(33, 33, 33, 0.2);
    border-radius: 16px;
    box-shadow: 0 0 15px #1c99ff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(33, 33, 33, 0.3);
    border-radius: 30px;
    z-index: 2 !important;
    padding-bottom: 55px;
}
.wrapperpf {
    flex-wrap: wrap;
    gap: 60px;
    padding: 40px;
    width: calc(100vw - 160px);
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgba(33, 33, 33, 0.2);
    border-radius: 16px;
    box-shadow: 0 0 15px #1c99ff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(33, 33, 33, 0.3);
    border-radius: 30px;
    z-index: 2 !important;
    padding-bottom: 55px;
}

.containt_wrap {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
}



@media screen and (max-width: 1100px) {
    
    .wrapperpf2,
    .wrapperpf {
        margin: 10px;
        width: calc(100vw - 30px);
        gap: 20px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 60px;
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }

    .card .content {
        transform: translateY(0);
    }

    .card .front-content {
        transform: translateX(-30%);
    }

    .card .front-content p {
        opacity: 0;
    }
}